@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Food Safety Inspection Tracker</h1>
    <p>Welcome to the Food Safety Inspection Tracker system.</p>

    <p>
        <a class="btn btn-primary" asp-controller="Premises" asp-action="Index">Go to Premises</a>
        <a class="btn btn-info" asp-controller="Inspections" asp-action="Index">Go to Inspections</a>
        <a class="btn btn-warning" asp-controller="FollowUps" asp-action="Index">Go to FollowUps</a>
        <a class="btn btn-success" asp-controller="Dashboard" asp-action="Index">Go to Dashboard</a>
    </p>
</div>